li{
    text-align: left;
    width:250px;
    justify-content: center;
    border-width: 2px;
}
ul{
    list-style-type: none;
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    margin-bottom: 20px;
    border: 2px;
}